.CreateCardForm {
    display: flex;
    justify-content: center;

}


.CreateCardForm__form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.CreateCardForm__form input{
    
    border-radius: 5px;

}


input, label {
    padding: 5px 10px;
}