img {
    width: 200px;
}

.CardItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid;
    width: 200px;
    padding: 10px;
    color: black;


}

h2 {
    color: black;
}
