.App--navbar{
  border: 2px solid;
  padding: 0px 60px;
  background-color: black;
  margin-bottom: 20px;

}

.App--navbar ul{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  list-style: none;
  gap: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  
}

a {
  color: white;
  text-decoration: none;
}
